* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  color: #666;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-weight: normal;
}
p {
  font-weight: lighter;
  margin: 0.8em 0;
  line-height: 1.8;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0.8em;
}
h3 {
  margin-bottom: 1em;
}
.cta {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: #f80;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #fff;
}
.cta:hover {
  opacity: 0.8;
}
.col {
  flex: 1;
}
.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

#main-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100px; */
  /* border: 1px solid green; */
  z-index: 99;
}
#main-header h1 {
  font-weight: normal;
}
#main-menu ul {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
#main-menu ul li.nav-title {
  font-size: 2.4em;
  margin-left: 1em;
  margin-right: 1em;
}
#main-menu ul li {
  margin-left: 1em;
  margin-right: 1em;
}
#main-menu ul li a {
  color: #fff;
  text-transform: uppercase;
}

/* 비주얼 */
#visual {
  position: relative;
  max-width: 1920px;
  min-width: 768px;
  height: 680px;
  margin: 0 auto;
  background-image: url("../images/visual01.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

#welcome {
  position: relative;
  /* border: 2px solid green; */
  /* height: 500px; */
}
#welcome .container {
  display: flex;
}
#welcome .left {
  margin-right: 30px;
}
#welcome .left,
#about .col:last-child {
  position: relative;
  opacity: 0;
}
#welcome .left img,
#about .col:last-child img {
  display: block;
}
#welcome .container .right {
  padding-top: 50px;
  padding-right: 20px;
  margin-left: 30px;
}

/* Skills(직무능력) */
#skills {
  text-align: center;
  height: 900px;
  /* padding: 50px 0; */
  background-image: url("http://placeimg.com/600/800/nature/grayscale");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right 100px;
}
#skills .container:last-child {
  display: flex;
  opacity: 0;
}
#skills .container:last-child > div {
  flex: 1;
  position: relative;
  top: 150px;
  margin-top: 50px;
  transform: translate(0, 0);
}
#skills .col {
  background: rgba(255, 231, 204, 1);
  margin-right: 20px;
  padding: 2em 1em;
}
#skills .col:last-child {
  margin-right: 0;
}

/* about */
#about {
  position: relative;
}
#about:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 63%;
  /* 배경색 Portfolio까지 이어짐 */
  background: rgba(255, 231, 204, 1);
  z-index: -1;
}
#about .container {
  position: relative;
  display: flex;
}
#about .col:last-child {
  display: block;
  box-shadow: 1em -1em 1px #f80;
}
#about .col:first-child {
  padding-right: 10em;
}
#about p {
  margin-bottom: 2em;
}
#about .info {
  font-weight: lighter;
  margin-bottom: 1em;
}
#about .info b {
  display: inline-block;
  width: 3em;
  margin-right: 3em;
}

/* 포트폴리오 */
#portfolio {
  /* 배경색 about me 중간부터 이어짐 */
  background: rgba(255, 231, 204, 1);
  text-align: center;
  padding-bottom: 100px;
}
#portfolio .container:first-child {
  text-align: right;
}
#portfolio ul {
  display: flex;
  margin-bottom: 1em;
}
#portfolio ul li.col {
  margin-right: 20px;
}
#portfolio ul li.col:last-child {
  margin-right: 0;
}
#portfolio ul li a {
  display: block;
  color: #666;
}
#portfolio ul li a h4 {
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#portfolio ul li img {
  width: 100%;
  display: block;
}

/* 하단 비주얼 */
#bottom-visual {
  padding: 50px 0;
  text-align: center;
  height: 400px;
  background-image: url("../images/bottom-visual.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  font-size: 2.4em;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* IE 이면 배경 이미지 대체 처리 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  #bottom-visual {
    background-image: url("http://placeimg.com/1200/400/nature/grayscale");
  }
}

/* 푸터 */
#main-footer {
  background: #fff;
  text-align: center;
  padding: 50px 0;
  font-size: 16px;
}
#main-footer .sns li {
  display: inline-block;
}
#main-footer .sns {
  margin-bottom: 1em;
}
